<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="638b62d2-b8cf-48b7-8c45-e2ba20822bd5" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://test.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="638b62d2-b8cf-48b7-8c45-e2ba20822bd5fileName">https%3A%2F%2Ftest.com</con:setting>
  </con:settings>
  
  <con:definitionCache type="TEXT" rootPart=""/><con:endpoints>
    <con:endpoint>https://test.com</con:endpoint>
    <con:endpoint>readyjms://activemq::tester::replyto</con:endpoint>
  </con:endpoints>
</con:interface>