<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="35be94ad-ce53-4f3c-bdc5-4cb83db6ee7f" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config">
    <con:settings><con:setting id="35be94ad-ce53-4f3c-bdc5-4cb83db6ee7ffileName">TestSuite-1</con:setting></con:settings>
    <con:savedRecentRuns>1</con:savedRecentRuns>
    <con:runType>SEQUENTIAL</con:runType>
    
    
    <con:properties/>
    <con:reportParameters/>
  </con:testSuite>