<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="73892b9d-9af5-4e8e-b55e-91e117a31912" name="TestSuite 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="73892b9d-9af5-4e8e-b55e-91e117a31912fileName">TestSuite-1</con:setting></con:settings><con:savedRecentRuns>1</con:savedRecentRuns><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>