<?xml version="1.0" encoding="UTF-8"?>
<con:customMockService id="7f9a5e81-74a7-4243-80ce-da321c4330b7" name="JMS Virtual Service" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="7f9a5e81-74a7-4243-80ce-da321c4330b7fileName">JMS-Virtual-Service</con:setting></con:settings><con:properties><con:property><con:name>jmsMockService.ttlHopLimit</con:name><con:value>10</con:value></con:property></con:properties><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>-1</con:inputBandwidth><con:outputBandwidth>-1</con:outputBandwidth><con:maxThreadPoolCapacity>1</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>1</con:coreThreadPoolCapacity><con:virtError><con:start>0</con:start><con:endless>true</con:endless></con:virtError></con:constraints><con:dataSources/><con:virtProperties><con:property><con:name>mockServiceType</con:name><con:value>JMS</con:value></con:property></con:virtProperties></con:customMockService>