<?xml version="1.0" encoding="UTF-8"?>
<con:restMockService id="3c7d90ff-74f5-4941-b957-cff6471b0807" port="8080" path="/" host="localhost" name="REST Virtual Service 1" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="3c7d90ff-74f5-4941-b957-cff6471b0807fileName">REST-Virtual-Service-1</con:setting></con:settings><con:properties/><con:constraints><con:congestion>0</con:congestion><con:inputBandwidth>-1</con:inputBandwidth><con:outputBandwidth>-1</con:outputBandwidth><con:maxThreadPoolCapacity>20</con:maxThreadPoolCapacity><con:coreThreadPoolCapacity>5</con:coreThreadPoolCapacity><con:virtError><con:start>0</con:start><con:endless>true</con:endless></con:virtError></con:constraints><con:headerValidator type="NONE"/></con:restMockService>